.noticias_cont{
	position: relative;
		
	@include divOutter(-5px);

	margin-top: 6rem;
	margin-bottom: 12rem;
	
	& h1{
		margin-bottom:9rem;
	}

	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: $white;
		width: 100%;
		height: 1px;
	}
		
	@include breakpoint(xxsmall down){
		margin-bottom:0;
	}
}
.noticias_divs{
	position: relative;
	@include displayInline(top);

	width:33.333%;
	
	padding: 5rem 5px;
	border-bottom: 1px solid $medium-gray;

	& figure{
		position:relative;
	}
	& .img {
		display: block;
		position: relative;
		
		&:after{
			opacity:0;

			background: rgba($secondary-color, 0.6);

			@include Animationcss(all 0.3s linear);
		}
		&:before{
			@include positions(absolute, true);
			color: $white;

			opacity: 0;

			z-index: 2;
			font-size: 5rem;

			@include Animationcss(all 0.3s linear);
		}
	}
	& .info{
		position: static;		
		padding-top: 2.5rem;
		z-index: 5;
				
		& > h5{
			display:block;
			
			@include Animationcss(color 0.3s linear);
		}
		& > div{
			@include dots(4, getHeightLines(textos, 4));	

			margin-top:1rem;		
		}	

		& button{
			margin-top: 2rem;
		}
	}
	
	&:hover{
		& .img {
			&:after,
			&:before{
				opacity:1;
			}						
		}		
		& .info{
			& button{
				color:$white;

				&:before{
					@include transform(scaleY(1));
				}
			}
		}
	}

	@include breakpoint(xxsmall down){
		width:50%;
	}
	@include breakpoint(small down){
		width:100%;
	}

}
.noticias_detalhe{
	/*& .img{ 
		& .slide > img{
			margin-bottom: 1px !important;
		}
		& .slide > div{
			display:none !important; 
		}
	}*/
	
	& .info{
		& > .navigation{
			padding:2rem 7rem;
			padding-top: 5rem;

			& .row{
				max-width: 768px;
			}

			& a{
				@include displayInline(top);
				position: relative;

				& .icon-wrap {
					display: block;
					width: 20px;
					height: 20px;

					&::after {
						content: '';

						position: absolute;
						top: 50%;
						width: 20px;
						height: 1px;
						background: $primary-color;
						
						@include Animationcss(all 0.3s linear);
						-webkit-backface-visibility: hidden; /* needed because of Chrome bug with prefixed calc */
						backface-visibility: hidden;
					}					
				}

				& div {
					position: absolute;
					bottom: 0%;
					width: 170px;

					& span{
						width: 100%;
						position: relative;
						color: $primary-color;

						top: -1.5rem;

						opacity: 0;
						@include transform(translateY(30%));
						@include Animationcss(all 0.3s linear);
					}
				}

				&.prev {
					left: 0;

					& .icon-wrap{
						left: 0;

						&::after {
							left: calc(100% - 10px);
						}
					}
					& div {
						left: 40px;
						text-align: right;
					} 
				}

				&.next {
					right: 0;

					& .icon-wrap {
						right: 0;

						&::after {
							right: calc(100% - 10px);
						}
					}

					& div {
						right: 40px;
						text-align: left;
					} 
				}

				&:hover {

					& .icon-wrap::after {
						width: 200px;

						transition-delay: 0s;
					}

					& div span{
						opacity: 1;

						transition-delay: 0.2s;
						@include transform(translateY(0%));
					}
				}
			}					
		}

		& > .container{
			padding:7rem;
		}
		
		& h1{
			max-width: 768px;
			margin: auto;

		    text-align: center;
			margin-bottom: 3rem;
		}
		
		& .desc{
			max-width:768px;
			margin:auto;
			
			& a{
				display: inline-block;
				color: $secondary-color;

				&:hover{
					color: $primary-color;
				}
			}
		}	

		& .share{
			margin-top: 5rem;
		}
	}
	
	@include breakpoint(xxsmall down){
		& .info > .navigation{
			padding:2rem;
		}
		& .info > .container {
			padding:7rem 2rem;
		}
		& .info .share{
			margin-top: 3.5rem;
		}
		& .img .slide > img{
			display:none !important; 
		}
		& .img .slide > div{
			display:table !important; 
		}
	}
}